@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html, body {
margin: 0;
padding: 0;
}
* {
  font-family: 'Tajawal', sans-serif;
}

/* Authorization */

.form-container {
  left:0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 1px;
  max-width: 360px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

/* .form-container input[type=password],
.form-container input[type=email] {
  padding: 8px;
  margin: 8px;
  font-size: 12px;
} */

